<%= render 'shared/header' %>

<div class="top-mainpage">
    <div class="top-link">
        <%=link_to "案件対応一覧" ,meganes_path ,class:"link-btn"%>
        <%=link_to "問い合わせ確認" ,connects_path,class:"link-btn"%>
        <%=link_to "問い合わせ" ,new_connect_path,class:"link-btn"%>
    </div>
</div>