* {
    box-sizing: border-box;
  }

  .top-page-header {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
.nav{
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#8bb9ee;
}

.lists-right{
  display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(219, 162, 6);
}

.login{
  padding-right: 10px;
}

.logout{
    color: rgb(97, 72, 3);
}

.logo{
    width: 80px;
}